[run]
include = 
        core\serializers.py 
        core\views.py 
omit =
        manage.py
        */tests/*
        */staticfiles/*
        */migrations/*
        */__init__.py
        
