name: Test python App

on:
  pull_request: 
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: install python packages
      run: |
        python -m pip install --upgrade pip
        cd backend
        pip install -r requirements.txt 
    - name: testing 
      run: | 
        cd backend
        python3 manage.py test
